{{define "404"}}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        {{/*<link rel="stylesheet" type="text/css" href="/static/css/reset.css">*/}}
        <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    </head>
    <body>
        <header class="mainHeader">
            <h1 class="mainHeader__title">
                <a class="noDecorateText" href="/">Litrews</a>
            </h1>
        </header>
        <main>
            <div class="text-center">
                <h1>指定されたページは存在しません。</h1>
                <a class="noDecorateText" href="/">
                    <h2>ホームへ</h2>
                </a>
            </div>
        </main>
    </body>
</html>
{{end}}