{{define "news"}}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        {{/*<link rel="stylesheet" type="text/css" href="/static/css/reset.css">*/}}
        <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    </head>
    <body>
        <header class="mainHeader">
            <h1 class="mainHeader__title">
                <a class="noDecorateText" href="/">Litrews</a>
            </h1>
        </header>
        <main>
            <h1>{{.articlesData.Title}} - {{.articlesData.Count}}件</h1>
            {{range .articlesData.Articles}}
                <div>
                    <h2>{{.Title}}</h2>
                    <div>{{.Body}}</div>
                </div>
                <hr>
            {{end}}
        </main>
    </body>
</html>
{{end}}