{{define "home"}}
    <h1>トレンド記事一覧</h1>
    <table>
        <tr>
            <td style="width: 10%;">画像</td>
            <td style="width: 10%;">ジャンル</td>
            <td style="width: 30%;">タイトル</td>
            <td style="width: 50%;">本文</td>
        </tr>
        {{range $article := .articles}}
            <tr>
                <td>
                    <div style="background-image: url({{.Data.ImageURL}}); width: 120px; height: 120px; background-size: cover;"></div>
                </td>
                <td>
                    {{range $genre := $.genres}}
                        {{ if eq $genre.ID $article.GenreID }} {{$genre.Title}} {{end}}
                    {{end}}
                </td>
                <td>
                    <a href="{{.Data.SrcURL}}" target="_blank">{{.Data.Title}}</a>
                </td>
                <td>{{.Data.Body}}</td>
            </tr>
        {{end}}
    </table>
{{end}}