{{define "home"}}
<!DOCTYPE html>
<html lang="ja">
    {{template "head"}}
    <body>
        {{template "bodyHeader"}}
        <main>
            <h2>ニュースジャンル一覧</h2>
            <ul>
                {{range .topics}}
                    <li>
                        <a href="/news/{{.ID}}">{{.NameJa}}</a>
                    </li>
                {{end}}
            </ul>
            <div class="standout-container">
                <a href="https://line.me/R/ti/p/%40xjw0498b"><img height="36" border="0" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a>
            </div>
            <div class="standout-container">
                ↑頼む
            </div>
        </main>
    </body>
</html>
{{end}}