{{define "userShow"}}
{{template "head" .}}
    <div>
        <form action="/user" method="POST">
            <div>
                ユーザ名:<input type="text" value="{{.user.Name}}" name="name"><br>
                メールアドレス:<input type="email" value="{{.user.Email}}" name="email"><br>
                お気に入りトピック:
                <div>
                {{range $topic := .topics}}
                    <label><input type="checkbox" name="topic_ids[]" value="{{$topic.ID}}" {{if index $.isCheckedTopicMap $topic.ID}}checked{{end}}>{{$topic.Name}}</label>
                {{end}}
                </div>
                <input type="submit" value="変更を送信">
            </div>
        </form>
    </div>
{{template "foot" .}}
{{end}}